<ion-navbar *navbar hideBackButton>
  <ion-title>
    Nutrition Test v2
  </ion-title>
</ion-navbar>

<ion-content padding class="page1">
  <ion-searchbar [(ngModel)]="searchQuery" debounce=3000
      (ionInput)="getItemsAng($event)">
 </ion-searchbar>
 <!--ion-content padding class="page1">  <ion-searchbar [(ngModel)]="searchQuery" debounce=3000(ionInput)="getItems($event)"> </ion-searchbar-->
 <h3>MY PAGE</h3>
  <ion-list>
    <!--ion-item text-wrap *ngFor="let item of items" >
      {{item.fields.brand_name}} - {{item.fields.item_name}} - Calories: {{item.fields.nf_calories}}
    </ion-item-->
    <ion-item text-wrap *ngFor="let hero of heroes | values" >
      {{hero.fields.item_name}}
    </ion-item>
  </ion-list>
  <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
</ion-content>